<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css')}}" />
</head>

<body class="antialiased h-full bg-gray-100">
    <div class="min-h-full">
        <header class="bg-gradient-to-r from-sky-800 to-cyan-600 pb-24">
            <div class="mx-auto max-w-3xl py-12 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                <div class="relative flex flex-wrap items-center justify-center lg:justify-between">
                     <div class="absolute left-0 flex-shrink-0 py-5 lg:static">
                         <h1 class="text-4xl font-semibold  text-white"> Necta Web Crawler </h1>
                     </div>
                    <div class="w-full py-5 lg:border-t lg:border-white lg:border-opacity-20"></div>
                </div>
            </div>
        </header>

        <main class="-mt-32 pb-8">
            <div class="mx-auto max-w-3xl px-1 sm:px-3 lg:max-w-7xl lg:px-4">
                <div class="mx-auto max-w-3xl px-2 sm:px-3 lg:max-w-7xl lg:px-4">
                    <div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-1 lg:gap-8">
                        {# Left Side Section #}
                        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
                            <div class="overflow-hidden rounded-sm bg-white shadow">
                                <div class="bg-white p-3">
                                     <h2 class="text-xl font-teal-600"> Necta Result Search </h2>
                                    <form action="\results" method="POST" class="mt-5">
                                        <div>
                                            <label class="block text-sm font-medium text-gray-700"> Search Criteria </label>
                                            <select name="search" id="search" class="block w-full rounded-sm border-gray-300 text-base shadow-sm focus:border-teal-500 focus:ring-teal-500 sm:text-base" required>
                                                <option>Summary</option>
                                                <option>Schools</option>
                                                <option>Student</option>
                                                <option>Students</option>
                                            </select>
                                        </div>
                                        <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-8 mt-2">
                                            <div class="mt-2 sm:col-span-2">
                                                <label class="block text-sm font-medium text-gray-700"> Result Year </label>
                                                <input type="text" name="School_Year" id="School_Year" placeholder="Year" class="block w-full rounded-sm border-gray-300 text-base shadow-sm focus:border-teal-500 focus:ring-teal-500 sm:text-base" required>
                                            </div>
                                            <div class="mt-2 sm:col-span-2">
                                                <label class="block text-sm font-medium text-gray-700"> Exam Type </label>
                                                <select  name="Exam_Type" id="Exam_Type" class="block w-full rounded-sm border-gray-300 text-base shadow-sm focus:border-teal-500 focus:ring-teal-500 sm:text-base">
                                                    <option> ACSEE </option>
                                                    <option> CSEE </option>
                                                </select>
                                            </div>
                                            <div class="mt-2 sm:col-span-2">
                                                <label class="block text-sm font-medium text-gray-700"> School Number </label>
                                                <input type="text" name="School_Number" id="School_Number" placeholder="School Number" class="block w-full rounded-sm border-gray-300 text-base shadow-sm focus:border-teal-500 focus:ring-teal-500 sm:text-base" required>

                                            </div>
                                            <div class="mt-2 sm:col-span-2">
                                                <label class="block text-sm font-medium text-gray-700"> Student Number </label>
                                                <input type="text" name="Student_Number" id="Student_Number" placeholder="Student Number" class="block w-full rounded-sm border-gray-300 text-base shadow-sm focus:border-teal-500 focus:ring-teal-500 sm:text-base" required>

                                            </div>
                                        </div>
                                        <div class="mt-5">
                                            <button type="submit" value="Submit" class="w-full inline-flex justify-center rounded-sm border border-transparent bg-sky-600 py-3 px-4 text-base font-medium text-white shadow-sm hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2"> Search  </button>
                                        </div>

                                    </form>
                                </div>

                            </div>

                            {% if stype == 'Summary' %}

                                <div class="px-2 sm:px-3 lg:px-4 mt-10">
                                  <div class="sm:flex sm:items-center">
                                    <div class="sm:flex-auto">
                                      <h1 class="text-xl font-semibold text-gray-900"> School Results Summary </h1>
                                      <p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their name, title, email and role.</p>
                                    </div>

                                  </div>
                                  <div class="mt-8 flex flex-col">
                                    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                                        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-sm">
                                          <table class="min-w-full divide-y divide-gray-300">
                                            <thead class="bg-gray-50">
                                              <tr>
                                                <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6">Title</th>
                                                <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6">Value</th>
                                              </tr>
                                            </thead>
                                            <tbody class="divide-y divide-gray-200 bg-white">
                                             {% for key, value in res.items() %}
                                                  <tr>
                                                    <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-6">{{ key }}</td>
                                                    <td class="whitespace-nowrap px-3 py-2 text-base text-gray-900">{{ value }}</td>

                                                  </tr>
                                             {% endfor %}
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                {% elif stype == 'Schools' %}

                                <div class="px-2 sm:px-3 lg:px-4 mt-10">
                                  <div class="sm:flex sm:items-center">
                                    <div class="sm:flex-auto">
                                      <h1 class="text-xl font-semibold text-gray-900"> Total Schools - {{ res['year_of_exam'] }}</h1>
                                      <p class="mt-2 text-base text-gray-700">Exam {{ res['exam_type'] }}. No of Schools {{ res['number_of_schools'] }}</p>
                                      <p class="mt-2 text-sm text-gray-700"> {{ res['description'] }}</p>
                                    </div>

                                  </div>
                                  <div class="mt-8 flex flex-col">
                                    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                                        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-sm">
                                          <table class="min-w-full divide-y divide-gray-300">
                                            <thead class="bg-gray-50">
                                              <tr>
                                                <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6">School Number</th>
                                                <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6">School Name</th>
                                              </tr>
                                            </thead>
                                            <tbody class="divide-y divide-gray-200 bg-white">
                                             {% for item in res['schools'] %}
                                                  <tr>
                                                    <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-6">{{ item.school_number }}</td>
                                                    <td class="whitespace-nowrap px-3 py-2 text-base text-gray-900">{{ item.school_name }}</td>

                                                  </tr>
                                             {% endfor %}
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                {% elif stype == 'Student' %}
                                    {# {{ stype }} : {{ res}}#}
                                {#  examination_number, year_of_exam, exam_type, gender, school_name, division, points, subjects #}
                                        <div class="px-2 sm:px-3 lg:px-4 mt-10">
                                          <div class="sm:flex sm:items-center">
                                            <div class="sm:flex-auto">
                                              <h1 class="text-xl font-semibold text-gray-900"> Student - {{ res['examination_number'] }}</h1>
                                              <p class="mt-2 text-base text-gray-700 uppercase"> {{ res['exam_type'] }} • {{ res['school_name'] }} | Division {{ res['division'] }} • Points: {{ res['points'] }}</p>

                                            </div>

                                          </div>
                                          <div class="mt-8 flex flex-col">
                                            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                              <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                                                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-sm">
                                                  <table class="min-w-full divide-y divide-gray-300">
                                                    <thead class="bg-gray-50">
                                                      <tr>
                                                        <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6">Subject</th>
                                                        <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6">Grade</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody class="divide-y divide-gray-200 bg-white">
                                                     {% for key, value in res['subjects'].items() %}
                                                         <tr>
                                                            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-6"> {{ key }} </td>
                                                            <td class="whitespace-nowrap px-3 py-2 text-base text-gray-900">{{ value }}</td>
                                                         </tr>
                                                     {% endfor %}
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                {% elif stype == 'Students' %}
                                 <div class="border-b border-gray-200 pb-5">
                                        <div class="">
                                          <h1 id="message-heading" class="text-2xl font-bold text-sky-700">{{ res['school_name'] }} - {{ res['school_number'] }}</h1>
                                          <p class="mt-1 truncate text-base text-gray-500">{{ res['year_of_exam'] }} {{ res['exam_type'] }} Results • Total Students {{ res['number_of_students'] }}</p>
                                        </div>
                                    </div>
                                    {% for item in res['students'] %}
                                          <div class="px-2 sm:px-3 lg:px-4 mt-10">
                                              <div class="sm:flex sm:items-center">
                                                <div class="sm:flex-auto">
                                                  <h1 class="text-lg font-semibold text-gray-800"> Student No. {{ item['examination_number'] }}</h1>
                                                  <p class="mt-2 text-base text-gray-700 uppercase"> Gender {{ item['gender'] }} • Division {{ item['division'] }} • Points: {{ item['points'] }}</p>

                                                </div>

                                              </div>
                                              <div class="mt-2 flex flex-col">
                                                <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                                  <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                                                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-sm">
                                                      <table class="min-w-full divide-y divide-gray-300">
                                                        <thead class="bg-gray-50">
                                                          <tr>
                                                            <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6">Subject</th>
                                                            <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6">Grade</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody class="divide-y divide-gray-200 bg-white">
                                                         {% for key, value in item['subjects'].items() %}
                                                             <tr>
                                                                <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-6"> {{ key }} </td>
                                                                <td class="whitespace-nowrap px-3 py-2 text-base text-gray-900">{{ value }}</td>
                                                             </tr>
                                                         {% endfor %}
                                                        </tbody>
                                                      </table>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                    {% endfor %}

                                {% endif %}

                        </div>

                    </div>
                </div>

            </div>

        </main>
    </div>


</body>
</html>